.jumbotron{

    background-color: green;

}

.card-header{


    background-color: white;


}


#add-train{


    background-color: gold;
    color: white;



}


h4{

    text-align: center;
}


#add-user{

   
    background-color: blue;


}